body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #fff;
    background-color: #111;
}

.full-screen-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    text-align: center;
}

.full-screen-section h1 {
    font-size: 3em; /* Increased font size */
}

.social-links {
    margin-top: 20px;
}

.social-link {
    margin: 0 10px;
    font-size: 2em;
    color: #fff;
    transition: color 0.3s;
}

.social-link:hover {
    color: #bbb;
}

.content-section {
    padding: 50px 0;
    background-color: #222;
}

.content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.content h2 {
    font-size: 2.5em;
}

.video-container {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #000;
    color: #fff;
}

.typing-cursor {
    font-weight: bold;
    color: #fff;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
