body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #fff;
    background-color: #111;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background: transparent;
    color: #fff;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

.full-screen-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    text-align: center;
    padding-top: 60px; /* Adjusted for header */
}

.social-links {
    margin-top: 20px;
}

.social-link {
    margin: 0 10px;
    font-size: 2em;
    color: #fff;
    transition: color 0.3s;
}

.social-link:hover {
    color: #bbb;
}

footer {
    text-align: center;
    padding: 10px;
    background: #000;
    color: #fff;
}
